@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=PT+Serif:wght@200&family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    padding: 30px 20px;
    background-color: white;
    box-shadow: lightslategray;
}
.rectangle {
    position: relative;
    top: -50vh;
    left: 10vh;
    z-index: -1;
}
.nav-bar-rectangle-1 {
    width: 25vh;
    height: 15vh;
    background-color: #cccccc;

}
.nav-bar-rectangle-2 {
    width: 25vh;
    height: 15vh;
    background-color: #FF6600;
    position: relative;
    top: -8vh;
    left: 8vh;
}

.nav-bar-rectangle-3 {
    width: 20vh;
    height: 50vh;
    background-color: #ff3333;
    position: relative;
    top: -35vh;
    z-index: -1;
}

.nav-bar a {
    text-decoration: none;
    color: black;   
    font-family: 'PT Serif', serif;
}
.nav-right {
    margin-right: 0.5%;
}
.nav-right a {
    float: right;
    margin-right: 5%;
    font-size: 15px;
    font-weight: normal;
}
.nav-left a {
    float: left;
    margin-left: 7%;
}
.container-1 {
    padding: 0 50vh;
    position: relative;
    top: 10vh
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 5vh;
    line-height: 10vh;
    background-color: #cccccc;
    padding: 10px 10px;
}

.content {
    background-color: #ff6600;
    padding: 15px 10px;
}
.paragraph span {
    font-size: 3.5vh;
}
.paragraph , .point { 
    padding-top: 3vh;
    font-size: 20px;
    font-family: 'Bitter', serif;
    text-align: justify;
    line-height: 3vh;
}
.point ul{
    padding-left: 15px;
}